.flex {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.click {
	cursor: pointer;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
}

.gift-cat-bar {
	@extend .flex;
	background: red;
	color: white;
	padding: 5px;
}




